@font-face {
    font-family: 'BGIfont';
    src:url('./BGI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'BGIfont';
    src: url('./BGI-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BGIfont';
    src: url('./BGI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'BGIfont';
    src: url('./BGI-Medium.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

